<form ngNativeValidate >

    <button type='submit' nbButton  status="danger" (click)="open()" style="margin-right:2px">View Details</button>
    <button type='submit'*ngIf="isVendor" nbButton  style="margin:5px" status="info" (click)="changeStatus()">Change Status</button>

</form>