<div class="row">
    <div class="col-md-12 col-lg-12">
        <nb-card>
            <nb-tabset fullwidth>
                <nb-tab tabTitle="Settings">
                    <ngx-all-settings></ngx-all-settings>
                </nb-tab>
                <!-- <nb-tab tabTitle="Fubs Settings">
                 
                        <form>
                            <div class="row">
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1" class="label">Default Country</label>
                                <input type="text" nbInput fullWidth id="exampleInputEmail1"
                                    placeholder="Please Enter Default Country">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1" class="label">Default Currency</label>
                                <input type="text" nbInput fullWidth id="exampleInputEmail1"
                                    placeholder="Please Enter Default Currency">
                            </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1" class="label">Default Currency</label>
                            <input type="text" nbInput fullWidth id="exampleInputEmail1"
                                placeholder="Please Enter Default Currency">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1" class="label">Pointing Equation</label>
                            <input type="text" nbInput fullWidth id="exampleInputEmail1"
                                placeholder="how much user should pay to get 1 point">
                        </div>

                    </div>
                    <button type="submit" nbButton status="danger">Submit</button>
                    </form>

                </nb-tab> -->
                <nb-tab tabTitle="About Us">
                   <ngx-about-us></ngx-about-us>
                </nb-tab>
                <nb-tab tabTitle="Privacy">
                    <ngx-privacy></ngx-privacy>
                 </nb-tab>
                <nb-tab tabTitle="FAQ">
                   <ngx-faqs></ngx-faqs>
                </nb-tab>
                <nb-tab tabTitle="Commission Rate">
                    <ngx-commission-rate></ngx-commission-rate>
                 </nb-tab>
             
            </nb-tabset>
        </nb-card>
    </div>


</div>