<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Add New FAQ</nb-card-header>
      <nb-card-body>
        <form [formGroup]="addForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Question</label>
                <input type="text" nbInput fullWidth formControlName="question" id="exampleInputEmail1"
                  placeholder="Question">
              </div>
              <div class="form-control-feedback alert alert-danger"
              *ngIf="questionControl?.errors && (questionControl.dirty || questionControl.touched)">
              <span *ngIf="questionControl?.errors.required">Question is required</span>

            </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Answer</label>
                <input type="text" nbInput fullWidth formControlName="answer" id="exampleInputEmail1"
                  placeholder="Answer">
              </div>
              <div class="form-control-feedback alert alert-danger"
              *ngIf="answerControl?.errors && (answerControl.dirty || answerControl.touched)">
              <span *ngIf="answerControl?.errors.required">Pointing Equation is required</span>

            </div>
            </div>

          </div>
      


          





          <button type="submit" [disabled]="!addForm.valid" (click)="save()" nbButton status="danger" style="margin-right: 2px;">Submit</button>
          <button type="submit" nbButton routerLink="/pages/settings/app-settings" status="primary">Cancel</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>