
 <!-- <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body> -->
    <!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
      <p style="color: white" >
       Loading... </p>
    </ngx-spinner> -->
<form ngNativeValidate [formGroup]="signin" class="p-6">
  <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    <p class="loading">Loading ...</p>
  </ngx-spinner>
      <h2 class="text-center mb-4">Sign In</h2>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="required-input">User Name</label>
            <input type="text" class="input"  nbInput fullWidth  fieldSize="large"  formControlName="userName"
              placeholder="User Name">

          </div>
        </div>

      </div>

    

      <div class="row">

        <div class="col-sm-12">
          <div class="form-group">
            <label class="required-input">Password</label>
            <input type="password" class="input"  nbInput fullWidth  fieldSize="large" formControlName="password" autocomplete="new-password"
              placeholder="Password">

          </div>
        </div>
      </div>
    <button [disabled]="!signin.valid || !isLoginSucess" type="submit" class="btn btn-danger btn-lg btn-block col-6 mx-auto mt-3"
      (click)="signIn()">Login</button>
      <button [routerLink]="['/auth/signup']"  type="submit" class="btn btn-info btn-lg btn-block col-6 mx-auto mt-3"
      >Register</button>
</form>
<!-- </nb-card-body>
</nb-card> -->



<!-- <button nbButton status="primary" size="large" (click)="toggleLoadingLargeGroupAnimation()"
[nbSpinner]="loadingLargeGroup" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
Download
</button> -->
