@import '../../@theme/styles/themes';




@include nb-install-component() {
  button {
    margin: 1rem;
  }

  ::ng-deep nb-spinner {
    z-index: 999;
  }
}

@media only screen and (min-width: 992px){
  form{padding : 5.6rem  !important;}

}

nb-card-body {
  overflow: visible;
  padding-top: 0;

  > * {
    margin-top: 1rem;
  }
}

.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}
.input{
  background-color: white !important;
}