<div class="row">
    <div class="col-md-12">
        <nb-card>
          <nb-card-header>Add New Currency</nb-card-header>
          <nb-card-body>
            <form [formGroup]="addForm">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="label">Name</label>
                    <input type="text" formControlName="name" nbInput fullWidth id="exampleInputEmail1" placeholder="Please Enter Name">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="label">Symbol</label>
                    <input type="text" formControlName="symbol" nbInput fullWidth id="exampleInputEmail1" placeholder="Please Enter Symbol">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="label">Country</label>

                    <ng-select appendTo="body" formControlName="countryId">
                        <ng-option disabled selected [value]="'custom'">Select Country</ng-option>
                        <ng-option *ngFor="let item of countries" [value]="item._id">{{item.name}}
                        </ng-option>
                    </ng-select>
                </div>
                <div class="form-control-feedback alert alert-danger"
                *ngIf="countryIdControl?.errors && (countryIdControl.dirty || countryIdControl.touched)">
                <span *ngIf="countryIdControl?.errors.required">Country is required</span>
               </div>
                </div>
              </div>
 

  

                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="exampleInputPassword1" class="required-input lable-image">Icon</label>
                        <div class="dev-image">
                          Chosse File
                        <input name="imageUrl" type="file" accept="image/*"  class="hide_file" (change)="handleInputIconChange($event)" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <img *ngIf="imageIconSrc" [src]="imageIconSrc" style="max-width:100px;max-height:100px" />
                  
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                  <button type="submit" [disabled]="!addForm.valid" (click)="save()"  style="margin-right: 5px; margin-top: 15px;" nbButton status="danger" >Submit</button>
                  <button type="submit" nbButton routerLink="/pages/locations/currencies" style=" margin-top: 15px;" status="primary">Cancel</button>
                </div>
              </div>
                </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>