<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Add New Product</nb-card-header>
      <nb-card-body>
        <form [formGroup]="addForm">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Product Name</label>
                <input type="text" nbInput fullWidth formControlName="name" id="exampleInputEmail1"
                  placeholder="Product Name">
              </div>
              <div class="form-control-feedback alert alert-danger"
                *ngIf="nameControl?.errors && (nameControl.dirty || nameControl.touched)">
                <span *ngIf="nameControl?.errors.required">Product Name is required</span>

              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Product Arabic Name</label>
                <input type="text" nbInput fullWidth formControlName="arName" id="exampleInputEmail1"
                  placeholder="Product Arabic Name">
              </div>
              <div class="form-control-feedback alert alert-danger"
                *ngIf="arNameControl?.errors && (arNameControl.dirty || arNameControl.touched)">
                <span *ngIf="arNameControl?.errors.required">ProductArabic  Name is required</span>

              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Product Price</label>
                <input type="text" nbInput fullWidth formControlName="price" id="exampleInputEmail1"
                  placeholder="Product Price">
              </div>
              <div class="form-control-feedback alert alert-danger"
                *ngIf="priceControl?.errors && (priceControl.dirty || priceControl.touched)">
                <span *ngIf="priceControl?.errors.required">Product Price is required</span>

              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Discount</label>
                <input type="email" nbInput fullWidth formControlName="discount" id="exampleInputEmail1"
                  placeholder="Discount">
              </div>

            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Active Discount</label>
                <ng-select appendTo="body" formControlName="isDiscountActive">
                  <ng-option  [value]="true">Yes
                  </ng-option>
                  <ng-option  [value]="false">No
                  </ng-option>
              </ng-select>
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Description</label>
                <textarea rows="5" nbInput fullWidth shape="round" formControlName="description"  placeholder="Description"></textarea>

              </div>
      
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Stock</label>
                <input type="text" nbInput fullWidth formControlName="stock" id="exampleInputEmail1"
                  placeholder="Stock">
              </div>
              <div class="form-control-feedback alert alert-danger"
                *ngIf="stockControl?.errors && (stockControl.dirty || stockControl.touched)">
                <span *ngIf="stockControl?.errors.required">Stock is required</span>


              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label">Category</label>
      
                <ng-select appendTo="body" formControlName="categoryId" (change)="onChangeCategory($event)">
                    <!-- <ng-option>Select Category</ng-option> -->
                    <ng-option *ngFor="let item of catgories" [value]="item._id">{{item.name}}
                    </ng-option>
                </ng-select>
            </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label">Sub Category</label>
      
                <ng-select appendTo="body" formControlName="subCategoryId">
                    <!-- <ng-option>Select Category</ng-option> -->
                    <ng-option *ngFor="let item of subCatgories" [value]="item._id">{{item.name}}
                    </ng-option>
                </ng-select>
            </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Top Selling</label>
                <ng-select appendTo="body" formControlName="isTopSelling">
                  <ng-option  [value]="1">Yes
                  </ng-option>
                  <ng-option  [value]="0">No
                  </ng-option>
              </ng-select>
              </div>

            </div>
      
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputPassword1" class="required-input lable-image">Product Main Image</label>
                <div class="dev-image">
                  Chosse File
                <input name="imageUrl" type="file" accept="image/*"  class="hide_file" (change)="handleInputProfileChange($event)" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <img *ngIf="imageSrc" [src]="imageSrc" style="max-width:100px;max-height:100px" />
          
            </div>
          </div>
       
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="required-input lable-image">Gallery</label>
                    <div class="dev-image">
                      Chosse File
                    <input  type="file" accept="image/*"  class="hide_file hide-left"   multiple="" (change)="onFileChange($event)" />
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <button type="button" nbButton (click)="clear()" [disabled]="images.length==0"  status="primary" style="margin-top: 27px;">Clear</button>

                </div>
     
      
              </div>
            </div>
            <div class="col-md-6">
                  <img *ngFor='let url of images' [src]="url" height="60px" width="60px" style="margin: 3px;" />
              
            </div>
          </div>






          <div class="row">
            <div class="col-md-4">

          <button type="submit" (click)="save()" [disabled]="!addForm.valid"  style="margin-right: 5px; margin-top: 15px;" nbButton status="danger" >Submit</button>
          <button type="submit" nbButton routerLink="/pages/operations/products" status="primary" style=" margin-top: 15px;">Cancel</button>
        </div>
      </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>