<nb-card size="large">
    <nb-tabset fullWidth>
        <nb-tab tabTitle="Pending Orders">
            <ngx-pending-orders [inputCustomerId]="celldata._id"></ngx-pending-orders>
        </nb-tab>
        <nb-tab tabTitle="Running Orders">
            <ngx-running-orders [inputCustomerId]="celldata._id"></ngx-running-orders>
        </nb-tab>
        <nb-tab tabTitle="Completed Orders">
            <ngx-completed-orders [inputCustomerId]="celldata._id"></ngx-completed-orders>
        </nb-tab>
    </nb-tabset>
</nb-card>