<div class="row">
    <div class="col-md-12">
        <nb-card>
          <nb-card-header>Add New Country</nb-card-header>
          <nb-card-body>
            <form [formGroup]="addForm">
              <div class="form-group">
                    <label for="exampleInputEmail1" class="label">Name</label>
                    <input type="text" formControlName="name" nbInput fullWidth id="exampleInputEmail1" placeholder="Please Enter Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="label">Code</label>
                    <input type="text" formControlName="code" nbInput fullWidth id="exampleInputEmail1" placeholder="Please Enter Code">
                  </div>
                  <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="required-input lable-image">Icon</label>
                      <div class="dev-image">
                        Chosse File
                      <input name="imageUrl" type="file" accept="image/*"  class="hide_file" (change)="handleInputIconChange($event)" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img *ngIf="imageIconSrc" [src]="imageIconSrc" style="max-width:100px;max-height:100px" />
                
                  </div>
                </div>

         
<div class="row">
  <div class="col-md-4">
  <button type="submit" [disabled]="!addForm.valid" (click)="save()" nbButton status="danger" style="margin-right: 5px; margin-top: 15px;">Submit</button>
  <button type="submit" nbButton routerLink="/pages/locations/countries" status="primary" style=" margin-top: 15px;">Cancel</button>
</div>
</div>
             
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>