<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Add New Privacy</nb-card-header>
        <nb-card-body>
          <form [formGroup]="addForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">Title</label>
                  <input type="text" nbInput fullWidth formControlName="title" id="exampleInputEmail1"
                    placeholder="title">
                </div>
                <div class="form-control-feedback alert alert-danger"
                *ngIf="titleControl?.errors && (titleControl.dirty || titleControl.touched)">
                <span *ngIf="titleControl?.errors.required">title is required</span>
  
              </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">Description</label>
                  <textarea type="text" nbInput fullWidth formControlName="description" id="exampleInputEmail1"
                    placeholder="Description" ></textarea>
                </div>
                <div class="form-control-feedback alert alert-danger"
                *ngIf="descriptionControl?.errors && (descriptionControl.dirty || descriptionControl.touched)">
                <span *ngIf="descriptionControl?.errors.required">Pointing Equation is required</span>
  
              </div>
              </div>
  
            </div>
        
  
  
            
  
  
  
  
  
            <button type="submit" [disabled]="!addForm.valid" (click)="save()" nbButton status="danger" style="margin-right: 2px;">Submit</button>
            <button type="submit" nbButton routerLink="/pages/settings/app-settings" status="primary">Cancel</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>