<button type="submit" *ngIf="!active" (click)="activeSubCategory()"   nbButton
status="success">Active</button>
<button type="submit" *ngIf="active" (click)="deactiveSubCategory()"   nbButton
status="danger">Deactive</button>