
      <ngx-customers [inputSubscripe]="true"></ngx-customers>
      <!-- <ng2-smart-table [settings]="settings" [source]="source" (create)="onAdd()" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table> -->
  
  