<div class="row">
  <div class="col-md-3">
    <div class="status-card status-card--hoverable">
      <span class="status-card__icon status-card__icon--success">
        <i class="fa fa-users"></i>
      </span>
      <div class="status-card__content">
        <div class="title">Total Customers</div>
        <div class="number">553</div>
        <div class="description">Fubs</div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="status-card status-card--hoverable">
      <span class="status-card__icon status-card__icon--danger">
        <i class="fab fa-first-order"></i>
      </span>
      <div class="status-card__content">
        <div class="title">Total Orders</div>
        <div class="number">102</div>
        <div class="description">Today</div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="status-card status-card--hoverable">
      <span class="status-card__icon status-card__icon--info">
        <i class="fab fa-jedi-order"></i>
      </span>
      <div class="status-card__content">
        <div class="title">Total Orders</div>
        <div class="number">50</div>
        <div class="description">This Week</div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="status-card status-card--hoverable">
      <span class="status-card__icon status-card__icon--warning">
        <i class="fab fa-first-order-alt"></i>
      </span>
      <div class="status-card__content">
        <div class="title">Total Orders</div>
        <div class="number">60</div>
        <div class="description">This Month</div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="status-card status-card--hoverable">
      <span class="status-card__icon status-card__icon--color1">
        <i class="fa fa-user-friends"></i>
      </span>
      <div class="status-card__content">
        <div class="title">Total Customers</div>
        <div class="number">100</div>
        <div class="description">This Month</div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="status-card status-card--hoverable">
      <span class="status-card__icon status-card__icon--color2">
        <i class="fa fa-money-bill-alt"></i>
      </span>
      <div class="status-card__content">
        <div class="title">Total Revenue</div>
        <div class="number">200</div>
        <div class="description">This Month</div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="status-card status-card--hoverable">
      <span class="status-card__icon status-card__icon--color3">
        <i class="fa fa-money-bill-wave-alt"></i>
      </span>
      <div class="status-card__content">
        <div class="title">Total Collected</div>
        <div class="number">320</div>
        <div class="description">Money</div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-43">
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Pending Orders
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (create)="onAdd()"
          (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Running Orders
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (create)="onAdd()"
          (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Completed Orders
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (create)="onAdd()"
          (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>