
$title-color: RGBA(0, 0, 0, 0.87);
$subTitle-color: RGBA(0, 0, 0, 0.54);
$green: #33b86c;
$blue: #29b6f6;
$red: #ef5350;
$yellow: #ffd740;
$white: #fff;
$light-grey: #eee;

body {
  background-color: $light-grey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.status-card {
  &.status-card--hoverable:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  margin: 5px; 
  background: $white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  .status-card__content {
    padding: 5px;
    margin-left: 90px;
  }
}

.status-card__icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  float: left;
  width: 90px;
  height:90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
  color: $white;
}

.status-card__content {
  .number {
    font-weight: 700;
    font-size: 18px;
    color: $title-color;
  }
  .title {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: $subTitle-color;
  }
  .description {
    margin-top: 18px;
    font-size: 12px;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $subTitle-color;
  }
}

.status-card__icon--success {
  background-color: $green;
}

.status-card__icon--info {
  background-color: $blue;
}

.status-card__icon--warning {
  background-color: $yellow;
}

.status-card__icon--danger {
  background-color: $red;
}
.status-card__icon--color1 {
    background-color: #142850;
  }
  .status-card__icon--color2 {
    background-color: #27496d;
  }
  .status-card__icon--color3 {
    background-color: #00909e;
  }

.mt-43{
  margin-top: 43px;
}