<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Add New Shipment Type</nb-card-header>
        <nb-card-body>
          <form [formGroup]="addForm">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">Name</label>
                  <input type="text" nbInput fullWidth formControlName="name" id="exampleInputEmail1"
                    placeholder="Name">
                </div>
                <div class="form-control-feedback alert alert-danger"
                  *ngIf="nameControl?.errors && (nameControl.dirty || nameControl.touched)">
                  <span *ngIf="nameControl?.errors.required">Name is required</span>
  
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">Price</label>
                  <input type="text" nbInput fullWidth formControlName="price" id="exampleInputEmail1"
                    placeholder="Price">
                </div>
                <div class="form-control-feedback alert alert-danger"
                  *ngIf="priceControl?.errors && (priceControl.dirty || priceControl.touched)">
                  <span *ngIf="priceControl?.errors.required">Price is required</span>
  
                </div>
              </div>
      
            </div>

  
  
  
  
  
  
  
  
            <button type="submit" (click)="save()" [disabled]="!addForm.valid" nbButton status="danger" style="margin-right: 2px;">Submit</button>
            <button type="submit" nbButton routerLink="/pages/operations/shipmenttype" status="primary">Cancel</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>