<nb-card>
    <nb-card-header>
      <span *ngIf="!inputCustomerId && !inputDashboard"> Completed Orders</span>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  