<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
      <nb-card-header>Category Info</nb-card-header>
      <nb-card-body>
        <form [formGroup]="addForm">
          <div class="form-group">
            <label for="exampleInputEmail1" class="label required-input">Name</label>
            <input type="text" nbInput fullWidth formControlName="name" id="exampleInputEmail1" placeholder="Name">
          </div>
          <div class="form-control-feedback alert alert-danger"
            *ngIf="nameControl.errors && (nameControl.dirty || nameControl.touched)">
            <span *ngIf="nameControl.errors.required">Name is required
            </span>
          </div>
          <div class="form-group">
            <label class="required-input" class="required-input" for="inputCustomerName">Description</label>
            <textarea rows="5" nbInput fullWidth shape="round" formControlName="description"  placeholder="Description">
              
            </textarea>

   
          </div>
          <div class="form-control-feedback alert alert-danger"
            *ngIf="descriptionControl.errors && (descriptionControl.dirty || descriptionControl.touched)">
            <span *ngIf="descriptionControl.errors.required">Description is required
            </span>
          </div>
<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label for="exampleInputPassword1" class="required-input lable-image">Featured Image</label>
      <div class="dev-image">
        Chosse File
      <input name="imageUrl" type="file" accept="image/*"  class="hide_file" (change)="handleInputChangeFeaturedImage($event)" />
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <img *ngIf="imageFeaturedImageSrc" [src]="imageFeaturedImageSrc" style="max-width:100px;max-height:100px" />

  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="exampleInputPassword1" class="required-input lable-image">Icon</label>
      <div class="dev-image">
        Chosse File
      <input name="imageUrl" type="file" accept="image/*"  class="hide_file" (change)="handleInputChangeIcon($event)" />
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <img *ngIf="imageIconSrc" [src]="imageIconSrc" style="max-width:100px;max-height:100px" />

  </div>
</div>


   <div class="row">
    <div class="col-md-2">
    <button type="submit" style="margin-top: 15px;" (click)="addCategory()" [disabled]="!addForm.valid" nbButton
    status="danger">Submit</button>
    </div>
   </div>

  
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>