<nb-card size="large" style="overflow: scroll;">
  <nb-tabset fullWidth (changeTab)="changeTab($event)">
    <nb-tab tabTitle="Pending Orders">
      <div class="chart-container">
        <!-- <ngx-orders-pending-dashboard></ngx-orders-pending-dashboard> -->
        <ngx-pending-orders [inputDashboard]="true"></ngx-pending-orders>
        <!-- <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>
        <ngx-orders-chart #ordersChart [ordersChartData]="ordersChartData"></ngx-orders-chart> -->
      </div>
    </nb-tab>
    <nb-tab tabTitle="Running Orders">
      <div class="chart-container">
        <!-- <ngx-running-orders-dashboard></ngx-running-orders-dashboard> -->
        <ngx-running-orders [inputDashboard]="true"></ngx-running-orders>
        <!-- <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>
        <ngx-orders-chart #ordersChart [ordersChartData]="ordersChartData"></ngx-orders-chart> -->
      </div>
    </nb-tab>
    <nb-tab tabTitle="Completed Orders">
      <div class="chart-container">
        <ngx-completed-orders [inputDashboard]="true"></ngx-completed-orders>
        <!-- <ngx-completed-orders-dashboard></ngx-completed-orders-dashboard> -->
        <!-- <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>
        <ngx-orders-chart #ordersChart [ordersChartData]="ordersChartData"></ngx-orders-chart> -->
      </div>
    </nb-tab>
    <!-- <nb-tab tabTitle="Orders">
      <div class="chart-container">
        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>
        <ngx-orders-chart #ordersChart [ordersChartData]="ordersChartData"></ngx-orders-chart>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Profit" [lazyLoad]="true">
      <div class="chart-container">
        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>
        <ngx-profit-chart #profitChart [profitChartData]="profitChartData"></ngx-profit-chart>
      </div>
    </nb-tab> -->
  </nb-tabset>
</nb-card>
