
 <!-- <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body> -->
    <!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
      <p style="color: white" >
       Loading... </p>
    </ngx-spinner> -->
    <form ngNativeValidate [formGroup]="signIn" class="p-6">
        <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
          <p class="loading">Loading ...</p>
        </ngx-spinner>
            <h2 class="text-center mb-4">Sign Up</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">First Name</label>
                  <input class="input" type="text" nbInput fullWidth formControlName="firstName" id="exampleInputEmail1"
                    placeholder="First Name">
                </div>
                <div class="form-control-feedback alert alert-danger"
                  *ngIf="firstNameControl?.errors && (firstNameControl.dirty || firstNameControl.touched)">
                  <span *ngIf="firstNameControl?.errors.required">First Name is required</span>
  
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">Last Name</label>
                  <input class="input" type="text" nbInput fullWidth formControlName="lastName" id="exampleInputEmail1"
                    placeholder="Last Name">
                </div>
                <div class="form-control-feedback alert alert-danger"
                  *ngIf="lastNameControl?.errors && (lastNameControl.dirty || lastNameControl.touched)">
                  <span *ngIf="lastNameControl?.errors.required">Last Name is required</span>
  
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">User Name</label>
                  <input class="input" type="text" nbInput fullWidth formControlName="userName" id="exampleInputEmail1"
                    placeholder="User Name">
                </div>
                <div class="form-control-feedback alert alert-danger"
                  *ngIf="userNameControl?.errors && (userNameControl.dirty || userNameControl.touched)">
                  <span *ngIf="userNameControl?.errors.required">User Name is required</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">Email address</label>
                  <input class="input" type="email" nbInput fullWidth formControlName="email" id="exampleInputEmail1"
                    placeholder="Email">
                </div>
                <div class="form-control-feedback alert alert-danger"
                  *ngIf="emailControl?.errors && (emailControl.dirty || emailControl.touched)">
                  <span *ngIf="emailControl?.errors.required">email is required</span>
                  <span *ngIf="emailControl?.errors.pattern">email must be as vaild email</span>
  
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">Phone Number</label>
                  <input class="input" type="text" nbInput fullWidth formControlName="phoneNumber" id="exampleInputEmail1"
                    placeholder="Phone Number">
                </div>
                <div class="form-control-feedback alert alert-danger"
                  *ngIf="phoneNumberControl?.errors && (phoneNumberControl.dirty || phoneNumberControl.touched)">
                  <span *ngIf="phoneNumberControl?.errors.required">Phone Number is required</span>
                  <span *ngIf="phoneNumberControl?.errors.pattern">Phone Number must be as vaild phone</span>
  
  
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label">Country</label>
  
                  <ng-select appendTo="body" formControlName="countryId">
                      <ng-option disabled selected [value]="'custom'">Select Country</ng-option>
                      <ng-option *ngFor="let item of countries" [value]="item._id">{{item.name}}
                      </ng-option>
                  </ng-select>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputPassword1" class="label required-input">Password</label>
                  <input class="input" type="password" nbInput fullWidth formControlName="password" id="exampleInputPassword1"
                    placeholder="Password">
                </div>
                <div class="form-control-feedback alert alert-danger"
                  *ngIf="passwordControl?.errors && (passwordControl.dirty || passwordControl.touched)">
                  <span *ngIf="passwordControl?.errors.required">password is required</span>
                  <span *ngIf="passwordControl?.errors.pattern">password must be as vaild password</span>
  
  
                </div>
              </div>
              <div class="col-md-6">
                <div class=row>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="required-input">Profile Picture</label>
                      <input name="imageUrl" type="file" accept="image/*" (change)="handleInputProfileChange($event)" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                    <img *ngIf="imageProfileSrc" [src]="imageProfileSrc" width="100" height="100"/>
                      </div>
                  </div>
                </div>
  
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label">Brand Name</label>
                  <input class="input" type="text" nbInput formControlName="brandName" fullWidth id="exampleInputEmail1"
                    placeholder="Please Enter Brand Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class=row>
                  <div class="col-md-7">
                    <div class="form-group">
                      <label for="exampleInputEmail1" class="label">Brand Logo</label>
                      <input name="logo" type="file" accept="image/*" (change)="handleLogoInputChange($event)" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                    <img  *ngIf="imageLogoSrc" [src]="imageLogoSrc" width="100" height="100"/>
                      </div>
                  </div>
                </div>
             
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="file">Gallery</label>
                    <input id="file" type="file" class="form-control" multiple="" (change)="onFileChange($event)">
    
                  </div>
             
                </div>
                <div class="col-md-6">
                  <button type="button" nbButton (click)="clear()" [disabled]="images.length==0"  status="primary" style="margin-top: 27px;">Clear</button>
  
                </div>
                </div>
              </div>
              <div class="col-md-6">
                <img *ngFor='let url of images' [src]="url" height="50" width="50px" style="margin: 3px;"> <br />
  
              </div>
            </div>
              
      
          <button [disabled]="!signIn.valid" type="submit" class="btn btn-danger btn-lg btn-block col-6 mx-auto mt-3"
            (click)="save()">Register</button>
            <button [routerLink]="['/auth/login']"  type="submit" class="btn btn-info btn-lg btn-block col-6 mx-auto mt-3"
            >Cancel</button>
      </form>
      <!-- </nb-card-body>
      </nb-card> -->
      
      
      
      <!-- <button nbButton status="primary" size="large" (click)="toggleLoadingLargeGroupAnimation()"
      [nbSpinner]="loadingLargeGroup" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
      Download
      </button> -->
      