<form ngNativeValidate >

    <span><i nbTooltip="View History" (click)="viewDetails()"  nbTooltipPlacement="top" nbTooltipStatus="info" class="fa fa-eye"></i></span> 
    <span><i nbTooltip="Reset Password" (click)="resetPassword()" nbTooltipPlacement="top" nbTooltipStatus="info" class="fas fa-unlock"></i></span>
    <span style="padding: 2px;"><i nbTooltip="Deactive User" *ngIf="rowData.isActive"  (click)="deactive(rowData._id)" nbTooltipPlacement="top" nbTooltipStatus="danger" class="fa fa-times-circle"></i></span> 
    <span style="padding: 2px;"><i nbTooltip="Active User" *ngIf="!rowData.isActive"  (click)="active(rowData._id)" nbTooltipPlacement="top" nbTooltipStatus="info" class="fa fa-check-circle"></i></span> 
 
</form>