span{
    padding: 5px;
}
.fa-eye{
    color: #274bdb !important;

}
.fa-check{
    font-size: 22px !important;
    color: #274bdb !important;
    cursor: pointer;
}
.fa-unlock{
    font-size: 22px !important;
    color: #274bdb !important;
    cursor: pointer;
}
.fa-check-circle{
    font-size: 22px !important;
    color: #274bdb !important;
    cursor: pointer;
}
.circle-danger{
    color: #ff3d71 !important;

}
.fa-times-circle{
    font-size: 22px !important;
    color: #274bdb !important;
    cursor: pointer;
}
