<nb-card>
    <nb-card-header>
        Districts
    </nb-card-header>
  
    <nb-card-body>
      <div class="row" *ngIf="!cityId">
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1" class="label">Country</label>
      
            <ng-select appendTo="body" [(ngModel)]="country" (change)="onChangeCountry($event)">
                <!-- <ng-option>Select Category</ng-option> -->
                <ng-option *ngFor="let item of countries" [value]="item._id">{{item.name}}
                </ng-option>
            </ng-select>
        </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1" class="label">City</label>
      
            <ng-select appendTo="body" [(ngModel)]="city" (change)="onChangeCity($event)">
                <!-- <ng-option>Select Category</ng-option> -->
                <ng-option *ngFor="let item of cities" [value]="item._id">{{item.name}}
                </ng-option>
            </ng-select>
        </div>
        </div>
      </div>
      <div *ngIf="cityId || city">
      <ng2-smart-table [settings]="settings" [source]="source" (create)="onAdd()" (edit)="onEdit($event)" (delete)="dialogDelete(dialog,$event)">
      </ng2-smart-table>
    </div>
    </nb-card-body>
  </nb-card>
  <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Are you sure you want to delete ?</nb-card-header>
      
      <nb-card-footer>
        <button nbButton (click)="onClickYes()" (click)="ref.close()" style="margin-right: 5px;" status="success">Yes</button>
        <button nbButton (click)="ref.close()" status="danger">No</button>

      </nb-card-footer>
    </nb-card>
  </ng-template>