<div class="row">
    <div class="col-md-12">
        <nb-card>
          <nb-card-header>Add  Disitrict</nb-card-header>
          <nb-card-body>
            <form [formGroup]="addForm">
              <div class="form-group">
                    <label for="exampleInputEmail1" class="label">Name</label>
                    <input type="text" formControlName="name" nbInput fullWidth id="exampleInputEmail1" placeholder="Please Enter Name">
                  </div>
    

             
                  <button type="submit" [disabled]="!addForm.valid" (click)="save()" nbButton status="danger" style="margin-right: 2px;">Submit</button>
                  <button type="submit" nbButton (click)="back()" status="primary">Cancel</button>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>