<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Add New Setting</nb-card-header>
        <nb-card-body>
          <form [formGroup]="addForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">Redeem Equation</label>
                  <input type="text" nbInput fullWidth formControlName="redeemEquation" id="exampleInputEmail1"
                    placeholder="Redeem Equation">
                </div>
                <div class="form-control-feedback alert alert-danger"
                *ngIf="redeemEquationControl?.errors && (redeemEquationControl.dirty || redeemEquationControl.touched)">
                <span *ngIf="redeemEquationControl?.errors.required">Redeem Equation is required</span>
  
              </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">Pointing Equation</label>
                  <input type="text" nbInput fullWidth formControlName="pointingEquation" id="exampleInputEmail1"
                    placeholder="Pointing Equation">
                </div>
                <div class="form-control-feedback alert alert-danger"
                *ngIf="pointingEquationControl?.errors && (pointingEquationControl.dirty || pointingEquationControl.touched)">
                <span *ngIf="pointingEquationControl?.errors.required">Pointing Equation is required</span>
  
              </div>
              </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="label">Country</label>
    
                        <ng-select appendTo="body" formControlName="countryId">
                            <ng-option disabled selected [value]="'custom'">Select Country</ng-option>
                            <ng-option *ngFor="let item of countries" [value]="item._id">{{item.name}}
                            </ng-option>
                        </ng-select>
                    </div>
                    <div class="form-control-feedback alert alert-danger"
                    *ngIf="countryIdControl?.errors && (countryIdControl.dirty || countryIdControl.touched)">
                    <span *ngIf="countryIdControl?.errors.required">Country is required</span>
                   </div>
                  </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">taxRate</label>
                  <input type="email" nbInput fullWidth formControlName="taxRate" id="exampleInputEmail1"
                    placeholder="Tax Rate">
                </div>
                <div class="form-control-feedback alert alert-danger"
                *ngIf="taxRateControl?.errors && (taxRateControl.dirty || taxRateControl.touched)">
                <span *ngIf="taxRateControl?.errors.required">Tax Rate is required</span>
  
              </div>
              </div>
           
            </div>
  
  
            
  
  
  
  
  
            <button type="submit" [disabled]="!addForm.valid" (click)="save()" nbButton status="danger" style="margin-right: 2px;">Submit</button>
            <button type="submit" nbButton routerLink="/pages/settings/app-settings" status="primary">Cancel</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>