
<form ngNativeValidate [nbSpinner]="loading" nbSpinnerStatus="danger" >

    <button type='submit' nbButton  status="danger" (click)="sendToAll()" style="margin-right:2px">Send to all</button>
    <button type='submit' nbButton  status="info" (click)="open()">Send to Spesific User</button>

</form>

