<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Add New Banner </nb-card-header>
            <nb-card-body>
                <form [formGroup]="addForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="label required-input">Name</label>
                                <input type="text" nbInput fullWidth formControlName="name" id="exampleInputEmail1"
                                    placeholder="Name">
                            </div>
                            <div class="form-control-feedback alert alert-danger"
                                *ngIf="nameControl?.errors && (nameControl.dirty || nameControl.touched)">
                                <span *ngIf="nameControl?.errors.required">Name is required</span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="label required-input">Description</label>
                                <input type="text" nbInput fullWidth formControlName="description"
                                    id="exampleInputEmail1" placeholder="Description">
                            </div>
                            <div class="form-control-feedback alert alert-danger"
                                *ngIf="descriptionControl?.errors && (descriptionControl.dirty || descriptionControl.touched)">
                                <span *ngIf="descriptionControl?.errors.required">Description is required</span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="label required-input">Banner url</label>
                                <input type="text" nbInput fullWidth formControlName="bannerUrl" id="exampleInputEmail1"
                                    placeholder="Banner URL">
                            </div>
                            <div class="form-control-feedback alert alert-danger"
                                *ngIf="bannerUrlControl?.errors && (bannerUrlControl.dirty || bannerUrlControl.touched)">
                                <span *ngIf="bannerUrlControl?.errors.required">Banner url is required</span>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                              <label for="exampleInputPassword1" class="required-input lable-image">Banner Image</label>
                              <div class="dev-image">
                                Chosse File
                              <input name="logo" type="file" accept="image/*"  class="hide_file" (change)="handleBannerInputChange($event)" />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <img *ngIf="imageBannerSrc" [src]="imageBannerSrc" style="max-width:100px;max-height:100px" />
              
                          </div>
                    </div>







                    <div class="row">
                        <div class="col-md-4">

                    <button type="submit" (click)="save()" [disabled]="!addForm.valid" nbButton status="danger"
                    style="margin-right: 5px; margin-top: 15px;">Submit</button>

                        <button type="submit" nbButton routerLink="/pages/operations/banners" status="primary" style=" margin-top: 15px;">Cancel</button>

                    </div>
                </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>