.fa-check-circle{
    font-size: 22px !important;
    color: #274bdb !important;
    cursor: pointer;
}

.fa-times-circle{
    font-size: 22px !important;
    color: #b00020 !important;
    cursor: pointer;
}