<form ngNativeValidate >

    <button type='submit' nbButton  status="danger" (click)="setDefault(rowData._id)" style="margin-right:10px">Set Default</button>
    <span style="position: relative;"><i style="position: absolute;margin-top: 10px;" nbTooltip="Deactive Setting" *ngIf="rowData.isActive"  (click)="deactive(rowData._id)" nbTooltipPlacement="top" nbTooltipStatus="danger" class="fa fa-times-circle"></i></span> 
    <span style="position: relative;"><i style="position: absolute;margin-top: 10px;" nbTooltip="Active Setting" *ngIf="!rowData.isActive"  (click)="active(rowData._id)" nbTooltipPlacement="top" nbTooltipStatus="info" class="fa fa-check-circle"></i></span> 

</form>