// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);
:host /deep/ ng2-smart-table .fa-eye{
  font-size: 22px !important;
  color: #274bdb !important;
  cursor: pointer;
}
.required-input:after {
  content:"  * ";
  color:#ff5680;
}
:host /deep/ ng2-smart-table table > tbody > tr > td:nth-child(4) {
  text-align: center;
}
:host /deep/ ng2-smart-table table > tbody > tr > th:nth-child(4) {
  text-align: center;
}
:host /deep/ ng2-smart-table table > tbody > tr > th:nth-child(3) {
  text-align: center;
}
:host /deep/ ng2-smart-table table > tbody > tr > td:nth-child(3) {
  text-align: center;
}
:host /deep/ ng2-smart-table table > tbody > tr > td:last-of-type {
  text-align: center;
}
.lable-image{
  display: block;
}
.dev-image{
  padding:5px 10px;
  background:#97312d;
  border:1px solid #97312d;
  position:relative;
  color:#fff;
  border-radius:2px;
  text-align:center;
  float:left;
  cursor:pointer !important;
    &:hover{
    cursor: pointer;
    }
}
.hide_file{
  position: absolute;
      z-index: 1000;
      opacity: 0;
      cursor:pointer !important;
      right: 0;
      top: 0;
      height: 100%;
      font-size: 24px;
      // width: 100%;
      width: 100px;
      
}
// .image-box {
//   position: relative;
//   margin: auto;
//   overflow: hidden;
//   width: 200px;
// }
// .image-box img {
//   max-width: 100%;
//   transition: all 0.3s;
//   display: block;
//   width: 200px;
//   height: 100%;
//   transform: scale(1);
// }

// .image-box:hover img {
//   transform: scale(1.1);
// }
