@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}

.vendor-logout{
  cursor: pointer;
  color: #97312d !important;
  font-weight: bold !important;
  font-size: 17px !important;
}
.vendor-text{
  font-size: 17px !important;
}
.user-vendor{
  color: #274bdb  !important;
  font-weight: bold !important;


}
.fa-window-close{
font-family: 'Font Awesome 5 Free';
font-weight: 900;
font-size: 27px;
cursor: pointer;
}
.user-action{
  position: relative;
}
.image-class{
  width: 150px;
  height: 100px;
}
.image-close-vendor{
  width: 152px;
  height: 80px;
  float: right;
  position: absolute;
  top: -12px;
  z-index: 30;
  right: 12px;
  cursor: pointer;
}