<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><img src="../../../../assets/images/logo-transperent.png" width="100" height="100"></a>
  </div>
  <div *ngIf="loginAsVendor">
    <p class="vendor-text">You Login As Vendor  :<span class="vendor-text user-vendor"> {{loginAsVendoUser.userName}} </span> 
     </p>
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container">
  <div *ngIf="loginAsVendor" class="image-close-vendor">
    <a class=""(click)="returnToCurrentUser()">
      <!-- <i class="fa fa-window-close" aria-hidden="true"></i> -->
      <img src="assets/images/close.gif " class="image-class" />
    </a>
</div>
  <nb-actions size="small">

    <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action> -->
    <!-- <nb-action class="control-item" icon="email-outline"></nb-action> -->
    <!-- <nb-action class="control-item" icon="bell-outline"></nb-action> -->

    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="currentUser?.userName"
               [picture]="currentUser?.profilePicture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
