:host /deep/ ng2-smart-table thead th:last-child{
    text-align: center;
}
:host /deep/ ng2-smart-table .fa-times-red{
    color: red !important;
  }
  :host /deep/ ng2-smart-table .fa-check-green{
    color: green !important;
  }
  :host /deep/ ng2-smart-table .img-box{
    border-radius: 50%;
    width: 70px;
    height: 62px;
}