<nb-card>
    <nb-card-header>
        Products
    </nb-card-header>

    <nb-card-body>
      <div class="form-group" *ngIf="!isVendor">
        <label for="exampleInputEmail1" class="label">Vendor</label>
  
        <ng-select appendTo="body" [(ngModel)]="name" (change)="onChangeVendor($event)">
            <!-- <ng-option>Select Category</ng-option> -->
            <ng-option *ngFor="let item of vendors" [value]="item._id">{{item.userName}}
            </ng-option>
        </ng-select>
    </div>
    <div *ngIf="name || isVendor">
      <ng2-smart-table [settings]="settings" [source]="source" (create)="onAdd()" (edit)="onEdit($event)" (delete)="dialogDelete(dialog,$event)">
      </ng2-smart-table>
    </div>
    </nb-card-body>
  </nb-card>
  <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Are you sure you want to delete ?</nb-card-header>
      
      <nb-card-footer>
        <button nbButton (click)="onClickYes()" (click)="ref.close()" style="margin-right: 5px;" status="success">Yes</button>
        <button nbButton (click)="ref.close()" status="danger">No</button>

      </nb-card-footer>
    </nb-card>
  </ng-template>