<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <form [formGroup]="addForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label required-input">Commission Rate %</label>
                  <input type="text" nbInput fullWidth formControlName="value" id="exampleInputEmail1"
                    placeholder="Commission Rate Value">
                </div>
                <div class="form-control-feedback alert alert-danger"
                *ngIf="valueControl?.errors && (valueControl.dirty || valueControl.touched)">
                <span *ngIf="valueControl?.errors.required">title is required</span>
  
              </div>
              </div>

  
            </div>
        
  
  
            
  
  
  
  
  
            <button type="submit" [disabled]="!addForm.valid" (click)="save()" nbButton status="danger" style="margin-right: 2px;">Submit</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>