<nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
    <nb-card-header>
        Categories
    </nb-card-header>
  
    <nb-card-body>
      <div class="form-group">
        <ng2-smart-table [settings]="settings" (create)="onAdd()" (edit)="onEdit($event)" (delete)="dialogDelete(dialog,$event)" [source]="source">
        </ng2-smart-table>
        <!-- <div *ngFor="let in of counter(totalItemsCount) | paginate: { itemsPerPage: 10, currentPage: p }"></div>

        <pagination-controls [responsive]="responsive"
[previousLabel]="''"
[nextLabel]="''" (pageChange)="pageChanged($event)" class="text-center"></pagination-controls> -->
      </div>
    </nb-card-body>
  </nb-card>
  <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Are you sure you want to delete ?</nb-card-header>
      
      <nb-card-footer>
        <button nbButton (click)="onClickYes()" (click)="ref.close()" style="margin-right: 5px;" status="success">Yes</button>
        <button nbButton (click)="ref.close()" status="danger">No</button>

      </nb-card-footer>
    </nb-card>
  </ng-template>