<button type="submit" *ngIf="!active" (click)="activeCategory()"   nbButton
status="success">Active</button>
<button type="submit" *ngIf="active" (click)="deactiveCategory()"   nbButton
status="danger">Deactive</button>