@import '../../../@theme/styles/themes';

$shadow-green: #00977e;

@include nb-install-component() {
  .progress-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .description {
    margin-top: 0.5rem;
  }
}
.nb-theme-default nb-card.size-medium {
  height: 21.375rem !important;
}
