<nb-card size="medium" style=" height: 21.375rem ">
  <nb-card-body>
    <div class="progress-info">
      <div class="subtitle">Total Revenue This Month</div>
      <div class="h3">{{ totalRevenue | ngxNumberWithCommas }}</div>
      <nb-progress-bar [value]="progressInfoData[0].activeProgress"></nb-progress-bar>
      <div class="caption description">
        <!-- <bdi>{{ item.description }}</bdi> -->
      </div>
    </div>
    <div class="progress-info">
      <div class="subtitle">Total Collected Money</div>
      <div class="h3">{{ totalCollected | ngxNumberWithCommas }}</div>
      <nb-progress-bar [value]="progressInfoData[1].activeProgress"></nb-progress-bar>
      <div class="caption description">
        <!-- <bdi>{{ item.description }}</bdi> -->
      </div>
    </div>
  </nb-card-body>
</nb-card>
