@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    // max-width: 600px;
    // max-height: 500px;
    // width: auto;
    // height: auto;
    // overflow: scroll;
  }
  .main-card{
    overflow: auto;
    height: 100vh;
    //  width: 100%;

  }
  .table-card-body{
    text-align: center;
  }


}
@media only screen and (max-width: 768px) {
  .table-card-body{
    width: 100vw;
    text-align: center;
  }
}
// @media only screen and (min-width: 321px) and (max-width: 1023px) {
//   .profile-pic {
//     width: 125px;
//   }
// }
// @media only screen and (min-width: 1024px) {
//   .profile-pic {
//     float: none;
//   }
// }
// table{
//   overflow-y:scroll;
//   // height:100px;
//   display:block;
// }
