<nb-card>
    <nb-card-header>
        Notifications
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (create)="onAdd()" (edit)="onEdit($event)" (delete)="dialogDelete(dialog,$event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Are you sure you want to delete ?</nb-card-header>
      
      <nb-card-footer>
        <button nbButton (click)="onClickYes()" (click)="ref.close()" style="margin-right: 5px;" status="success">Yes</button>
        <button nbButton (click)="ref.close()" status="danger">No</button>

      </nb-card-footer>
    </nb-card>
  </ng-template>