<nb-card class="main-card" *ngIf="!isVendor">
  <nb-card-header>More Details About Product</nb-card-header>
  <nb-card-body>
    <nb-card-header>Items</nb-card-header>

      <nb-card>
          <nb-card-body>
        
            <table class="table" *ngIf="celldata && celldata.items">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Vendor Name</th>
                  <th scope="col">Porduct Name</th>
                  <th scope="col">Porduct Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Discount</th>
                  <th scope="col">Original Price</th>


                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of celldata.items;let i=index">
                  <th scope="row">{{i}}</th>
                  <td>{{item.vendorId.firstName}}</td>
                  <td>{{item.product.name}}</td>
                  <td>{{item.product.price}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.discount}}</td>
                  <td>{{item.originalPrice}}</td>

                </tr>
              </tbody>
            </table>
        
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Address Info</nb-card-header>

          <nb-card-body>
              <nb-card>
                  <nb-card-body>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Country</label>
                        <p>{{celldata.shipmentAddress.country}}</p>
                      </div>
                      <div class="col-md-4">
                        <label>City</label>
                        <p>{{celldata.shipmentAddress.city}}</p>
                      </div>
                      <div class="col-md-4">
                        <label>District</label>
                        <p>{{celldata.shipmentAddress.district}}</p>
                      </div>
                      <div class="col-md-4">
                        <label>Street Name</label>
                        <p>{{celldata.shipmentAddress.streetName}}</p>
                      </div>
                      <div class="col-md-4">
                        <label>Building Number</label>
                        <p>{{celldata.shipmentAddress.buildingNumber}}</p>
                      </div>
                      <div class="col-md-4">
                        <label>Apartment Number</label>
                        <p>{{celldata.shipmentAddress.apartmentNumber}}</p>
                      </div>
                    </div>
                
                  </nb-card-body>
                </nb-card>
                
          </nb-card-body>
  
        </nb-card>
        <nb-card>
          <nb-card-header>Other Info</nb-card-header>

          <nb-card-body>
              <nb-card>
                  <nb-card-body>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Shipment Type</label>
                        <p>{{celldata.shipmentTypeId.name}}</p>
                      </div>
                      <div class="col-md-4">
                        <label>Payment</label>
                        <p>{{celldata.paymentType}}</p>
                      </div>
                      <div class="col-md-4">
                        <label>Total</label>
                        <p>{{celldata.shipmentTypeId.price}}</p>
                      </div>
                    </div>
                
                  </nb-card-body>
                </nb-card>
                
          </nb-card-body>
  
        </nb-card>
        
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="primary" (click)="dismiss()">Cancel</button>
  </nb-card-footer>
</nb-card>
<nb-card class="main-card" *ngIf="isVendor">
  <nb-card-header>
    <div class="row">
      <div class="col-md-6">
        <span class="text-left">  More Details About Order</span>
        </div>
        <div class="col-md-6">
          <span class="text-right">Vendor Name: {{celldata.vendorId.firstName}}</span>
        </div>
        </div>
</nb-card-header>
  <nb-card-body>
    <nb-card-header>Items</nb-card-header>

      <nb-card class="table-card">
          <nb-card-body class="table-card-body">
            <div class="table-responsive-sm">

            <table class="table" *ngIf="celldata && celldata.items">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <!-- <th scope="col">Vendor Name</th> -->
                  <th scope="col">Porduct Name</th>
                  <!-- <th scope="col">Porduct Price</th> -->
                  <th scope="col">Quantity</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Discount</th>
                  <th scope="col">Original Price</th>


                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of celldata.items;let i=index">
                  <th scope="row">{{i}}</th>
                  <!-- <td>{{item.vendorId.firstName}}</td> -->
                  <td>{{item.product.name}}</td>
                  <!-- <td>{{item.product?.price}}</td> -->
                  <td>{{item.quantity}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.discount}}</td>
                  <td>{{item.originalPrice}}</td>

                </tr>
              </tbody>
            </table>
            </div>
            
        
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Address Info</nb-card-header>

          <nb-card-body>
              <nb-card>
                  <nb-card-body>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="text-left">Country :
                          {{celldata.shipmentAddress.country}}</div>
                   
                      </div>
                      <div class="col-md-4">
                        <div class="text-left">City :
                          {{celldata.shipmentAddress.city}}</div>

                      </div>
                      <div class="col-md-4">
                        <div class="text-left">District :
                          {{celldata.shipmentAddress.district}}</div>

                      </div>

                    </div>
                    <div class="row" style="margin-top: 20px;">
                      <div class="col-md-4">
                        <div class="text-left">Street Name :
                          {{celldata.shipmentAddress.streetName}}</div>


                      </div>
                      <div class="col-md-4">
                        <div class="text-left">Building Number :
                          {{celldata.shipmentAddress.buildingNumber}}</div>


                      </div>
                      <div class="col-md-4">
                        <div class="text-left">Apartment Number :
                          {{celldata.shipmentAddress.apartmentNumber}}</div>


                      </div>
                    </div>
                
                  </nb-card-body>
                </nb-card>
                
          </nb-card-body>
  
        </nb-card>
        <nb-card>
          <nb-card-header>Other Info</nb-card-header>

          <nb-card-body>
              <nb-card>
                  <nb-card-body>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Shipment Type</label>
                        <p>{{celldata.shipmentTypeId.name}}</p>
                      </div>
                      <div class="col-md-4">
                        <label>Payment</label>
                        <p>{{celldata.paymentType}}</p>
                      </div>
                      <div class="col-md-4">
                        <label>Total</label>
                        <p>{{celldata.shipmentTypeId.price}}</p>
                      </div>
                    </div>
                
                  </nb-card-body>
                </nb-card>
                
          </nb-card-body>
  
        </nb-card>

        
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="primary" (click)="dismiss()">Cancel</button>
  </nb-card-footer>
</nb-card>

