<nb-card>
    <nb-card-header>
        Orders
    </nb-card-header>

    <nb-card-body>
        <div class="row date-body">
            <div class="col-md-4">
                <input nbInput [(ngModel)]="from" placeholder="Please Enter From Date" [nbDatepicker]="formpicker">
                <nb-datepicker #formpicker></nb-datepicker>
            </div>
            <div class="col-md-4">
                <input nbInput [(ngModel)]="to" placeholder="Please Enter To Date" [nbDatepicker]="topicker">
                <nb-datepicker #topicker></nb-datepicker>
            </div>
            <div class="col-md-4">
                <button type='submit' [disabled]="!from || !to " nbButton (click)="onSearch()"
                    status="danger">Search</button>

            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <ng2-smart-table [settings]="settings" [source]="source">
                </ng2-smart-table>
            </div>
        </div>

    </nb-card-body>
</nb-card>