@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .date-body {
    display: flex;
    justify-content: space-between;

    input {
      width: 100%;
    }
    button{
        width: 70%;

    }
  }
}