<nb-card>
    <nb-card-header>Select Status Value</nb-card-header>
    <nb-card-body>
        <nb-select  style="width: 100%;" (selectedChange)="onSelectStatus($event)">
            <nb-option value="5">Running</nb-option>
            <!-- <nb-option value="6">Completed</nb-option> -->
          </nb-select>
      <!-- <input #name nbInput placeholder="Name"> -->
    </nb-card-body>
    <nb-card-footer>
      <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
      <button nbButton status="success" [disabled]="!(statusId>0)" (click)="submit()">Submit</button>
    </nb-card-footer>
  </nb-card>
  