:host /deep/ ng2-smart-table  td{
    text-align: center;
}
:host /deep/ ng2-smart-table  th{
    text-align: center;
}
:host /deep/ ng2-smart-table .img-box{
    border-radius: 50%;
    width: 70px;
    height: 62px;
}