<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div [ngClass]="isVendor? 'col-md-6':'col-md-6'">
        <!-- <ngx-profit-card></ngx-profit-card> -->
        <ngx-earning-card *ngIf="!isVendor" [inputType]="'customers'"></ngx-earning-card>

      </div>
      <div  [ngClass]="isVendor? 'col-md-12':'col-md-6'">
        <ngx-earning-card [inputType]="'orders'"></ngx-earning-card>

      </div>
    </div>

    <!-- <ngx-traffic-reveal-card></ngx-traffic-reveal-card> -->
    <ngx-progress-section></ngx-progress-section>

  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div> -->

<div class="row">
  <!-- <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div> -->
  <div class="col-md-12 col-lg-12">
    <nb-card>
  <div class="col-xxl-12" *ngIf="!isVendor">
    <nb-tabset fullwidth>
      <nb-tab tabTitle="Customers">
        <ngx-subscribers></ngx-subscribers>
      </nb-tab>
      <nb-tab  tabTitle="Vendors">
        <ngx-vendors [inputSubscripe]="true"></ngx-vendors>
      </nb-tab>
    </nb-tabset>
    <!-- <ngx-user-activity></ngx-user-activity> -->
  </div>
  </nb-card>
  </div>
</div>
