
<nb-card class="dialog-card" [formGroup]="addForm" [nbSpinner]="loading" nbSpinnerStatus="danger">
    <nb-card-header>Please Select Spesfic Users to notify them ...</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12">
          <nb-select class="col-md-12" fullWidth multiple formControlName="users">
            <nb-option *ngFor="let item of customers" [value]="item._id">{{item.userName}}
            </nb-option>     
               </nb-select>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <button nbButton hero status="primary" (click)="dismiss()">Send</button>
    </nb-card-footer>
  </nb-card>
  