<form ngNativeValidate >

    <!-- <button type='submit' nbButton  status="danger" style="margin-right:2px">Active Discount</button> -->
    <!-- <span style="padding: 2px;"><i nbTooltip="Active Discount"   nbTooltipPlacement="top" nbTooltipStatus="info" class="fa fa-check-circle circle-danger"></i></span>  -->

    <span style="padding: 2px;"><i nbTooltip="Deactive Product" *ngIf="rowData.isActive"  (click)="deactiveProduct(rowData._id)"   nbTooltipPlacement="top" nbTooltipStatus="danger" class="fa fa-times-circle"></i></span> 
    <span style="padding: 2px;"><i nbTooltip="Active Product" *ngIf="!rowData.isActive"  (click)="activeProduct(rowData._id)"   nbTooltipPlacement="top" nbTooltipStatus="info" class="fa fa-check-circle"></i></span> 
    <!-- <span style="padding: 2px;"><i nbTooltip="Add Stock"   nbTooltipPlacement="top" nbTooltipStatus="info" class="fa fa-plus"></i></span>  -->

</form>