<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Add New Notification</nb-card-header>
      <nb-card-body>
        <form [formGroup]="addForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">title</label>
                <input type="text" nbInput fullWidth formControlName="title" id="exampleInputEmail1"
                  placeholder="title">
              </div>
              <div class="form-control-feedback alert alert-danger"
              *ngIf="titleControl?.errors && (titleControl.dirty || titleControl.touched)">
              <span *ngIf="titleControl?.errors.required">title is required</span>

            </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">description</label>
                <input type="text" nbInput fullWidth formControlName="description" id="exampleInputEmail1"
                  placeholder="Description">
              </div>
              <div class="form-control-feedback alert alert-danger"
              *ngIf="descriptionControl?.errors && (descriptionControl.dirty || descriptionControl.touched)">
              <span *ngIf="descriptionControl?.errors.required">Description is required</span>

            </div>
            </div>

          </div>
      


          





          <button type="submit" [disabled]="!addForm.valid" (click)="save()" nbButton status="danger" style="margin-right: 2px;">Submit</button>
          <button type="submit" nbButton routerLink="/pages/notifications/notification" status="primary">Cancel</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>