<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Add New Operators</nb-card-header>
      <nb-card-body>
        <form [formGroup]="addForm">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">First Name</label>
                <input type="text" nbInput fullWidth formControlName="firstName" id="exampleInputEmail1"
                  placeholder="First Name">
              </div>
              <div class="form-control-feedback alert alert-danger"
              *ngIf="firstNameControl?.errors && (firstNameControl.dirty || firstNameControl.touched)">
              <span *ngIf="firstNameControl?.errors.required">First Name is required</span>

            </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Last Name</label>
                <input type="text" nbInput fullWidth formControlName="lastName" id="exampleInputEmail1"
                  placeholder="Last Name">
              </div>
              <div class="form-control-feedback alert alert-danger"
              *ngIf="lastNameControl?.errors && (lastNameControl.dirty || lastNameControl.touched)">
              <span *ngIf="lastNameControl?.errors.required">Last Name is required</span>

            </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">User Name</label>
                <input type="text" nbInput fullWidth formControlName="userName" id="exampleInputEmail1"
                  placeholder="User Name">
              </div>
              <div class="form-control-feedback alert alert-danger"
              *ngIf="userNameControl?.errors && (userNameControl.dirty || userNameControl.touched)">
              <span *ngIf="userNameControl?.errors.required">User Name is required</span>
             </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Email address</label>
                <input type="email" nbInput fullWidth formControlName="email" id="exampleInputEmail1"
                  placeholder="Email">
              </div>
              <div class="form-control-feedback alert alert-danger"
              *ngIf="emailControl?.errors && (emailControl.dirty || emailControl.touched)">
              <span *ngIf="emailControl?.errors.required">email is required</span>
              <span *ngIf="emailControl?.errors.pattern">email must be as vaild email</span>

            </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label required-input">Phone Number</label>
                <input type="text" nbInput fullWidth formControlName="phoneNumber" id="exampleInputEmail1"
                  placeholder="Phone Number">
              </div>
              <div class="form-control-feedback alert alert-danger"
              *ngIf="phoneNumberControl?.errors && (phoneNumberControl.dirty || phoneNumberControl.touched)">
              <span *ngIf="phoneNumberControl?.errors.required">Phone Number is required</span>
              <span *ngIf="phoneNumberControl?.errors.pattern">Phone Number must be as vaild phone</span>


            </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label">Country</label>

                <ng-select appendTo="body" formControlName="countryId">
                    <ng-option disabled selected [value]="'custom'">Select Country</ng-option>
                    <ng-option *ngFor="let item of countries" [value]="item._id">{{item.name}}
                    </ng-option>
                </ng-select>
            </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6" *ngIf="!idControl.value">
              <div class="form-group">
                <label for="exampleInputPassword1" class="label required-input">Password</label>
                <input type="password" nbInput fullWidth formControlName="password" id="exampleInputPassword1"
                  placeholder="Password">
              </div>
              <div class="form-control-feedback alert alert-danger"
              *ngIf="passwordControl?.errors && (passwordControl.dirty || passwordControl.touched)">
              <span *ngIf="passwordControl?.errors.required">password is required</span>
              <span *ngIf="passwordControl?.errors.pattern">password must be as vaild password</span>


            </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleInputPassword1" class="required-input lable-image">Profile Picture</label>
                <div class="dev-image">
                  Chosse File
                <input name="imageUrl" type="file" accept="image/*"  class="hide_file" (change)="handleInputProfileChange($event)" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <img *ngIf="imageProfileSrc" [src]="imageProfileSrc" style="max-width:100px;max-height:100px" />

            </div>
          </div>





          <button type="submit" [disabled]="!addForm.valid" (click)="save()" nbButton status="danger" style="margin-right: 2px;">Submit</button>
          <button type="submit" nbButton routerLink="/pages/users/operator" status="primary">Cancel</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>